<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Comment</title>
    <link rel="stylesheet" href="/styles/articlesANDcomments.css" />
  </head>
  <body>
    <nav>
      <img src="https://download.logo.wine/logo/Reddit/Reddit-Logo.wine.png" alt="Logo" class="logo" />
      <div>
        <a href="/"><button>Home</button></a>
        <a href="/debugPage"><button>Debug DB</button></a>
        <% if(username) {%> You are logged in <a href="/users/profile/<%=username%>" class="login"><%=username%></a>
        <form action="/users/logout" method="post">
          <button type="submit">Logout</button>
        </form>
        <% } else { %>
        <a href="/users/login"><button>Login</button></a>
        <%}%>
        <a href="/users/register"><button>Register</button></a>
      </div>
    </nav>

    <header>Delete comment</header>
    <br />
    <h1>Do you want to delete the comment?</h1>
    <form action="/comments/delete/<%= id %>" method="post">
      <button type="submit">Delete</button>
    </form>
    <a href="#" onclick="window.history.back();" class="a"><button>Never Mind!</button></a>
  </body>
</html>
