<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DebugPage</title>
    <link rel="stylesheet" href="/styles/subs.css" />
  </head>
  <body>
    <nav>
      <a href="/"><img src="/images/logo.png" alt="Logo" class="logo" /></a>
      <div>
        <a href="/"><button>Home</button></a>
        <a href="/debugPage"><button>Debug DB</button></a>
        <% if(username) {%> You are logged in <a href="/users/profile/<%=username%>" class="login"><%=username%></a>
        <form action="/users/logout" method="post">
          <button type="submit">Logout</button>
        </form>
        <% } else { %>
        <a href="/users/login"><button>Login</button></a>
        <a href="/users/register"><button>Register</button></a>
        <%}%>
      </div>
    </nav>

    <div class="centered-buttons">
      <a href="/debug_db"><button>Debug DB</button></a><br />
      <form action="/reset_db" method="post">
        <button type="submit">Reset DB</button>
      </form>
    </div>
  </body>
</html>
