<style>
  button {
    font-size: 14px;
    font-family: "Reddit";
    text-decoration: none;
    color: #333;
    margin: 5px;
    padding: 5px;
    border: 2px solid #ee6e06;
    border-radius: 3px;
    background-color: #fff;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #ee6e06;
  }
</style>
<div class="dropdown">
  <select name="ordering">
    <option>select option</option>
    <option value="top">Top</option>
    <option value="ragebait">Ragebait</option>
    <option value="new">New</option>
    <option value="old">old</option>
  </select>
  <button>submit</button>
</div>
