@font-face {
  font-family: "Reddit";
  src: url("/fonts/RedditSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Reddit";
  margin: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  color: #000000;
}

button {
  font-size: 16px;
  font-family: "Reddit";
  text-decoration: none;
  color: #333;
  margin: 5px;
  padding: 5px;
  border: 2px solid #ee6e06;
  border-radius: 3px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ee6e06;
}

h1 {
  background-color: #fe2525;
  color: white;
  padding: 5px;
}

